<did id="contact-container">
  <div id ="contact-content">
    <h3 class="contact-line-height">Hi! I'm <mark>Cli</mark>. I'd love to hear back from you. :) 
    Please send bug reports or suggestions at <mark>c.someponpakdi@gmail.com</mark> 
    or contact me directly on Discord <mark>(Cli#7585)</mark>.</h3>
    <%= image_tag("cli-mushroom.png", id: 'cli-mushroom')%>
  </div>
</div>