<div id="contact-container">
  <div id="contact-cli">
    contact
  </div>
  <div id="contact-content">
    Hi! I'm <mark>Cli</mark>. I'd love to hear back from you. :) 
    Please send bug reports or suggestions at <mark>c.someponpakdi@gmail.com</mark> 
    or contact me directly on Discord <mark>(Cli#7585)</mark>.
  </div>
  <div>
    <%= image_tag("cli-mushroom.png", id: "cli-mushroom") %>
  </div>
</div>