<div id="resources-container">
  <h2 id="resources-header">learning resources</h2>
  <div id="last-updated">last updated by Cli: february 20, 2020</div>
  <div class="levels-div">
    <h4 class="levels-header">beginner</h4>
    <h5 class="resources-subheading">textbooks</h5>
    <div>nakama <a href="https://www.amazon.ca/Nakama-Japanese-Communication-Culture-Context/dp/1285429591">volume 1</a> & <a href="https://www.amazon.ca/Nakama-Japanese-Communication-Culture-Context/dp/1337116033/ref=sr_1_2?keywords=nakama+1+and+2&qid=1581452337&s=books&sr=1-2">volume 2</a></div>
    <div>genki <a href="https://www.amazon.ca/Genki-Integrated-Elementary-Japanese-Workbook/dp/478901441X">volume 1</a> & <a href="https://www.amazon.ca/Genki-Integrated-Course-Elementary-Japanese/dp/4789014436">volume 2</a></div>
    <h5 class="resources-subheading">references</h5>
    <div><a href="https://www.punipunijapan.com/">puni puni lessons</a></div>
    <div><a href="http://www.guidetojapanese.org/learn/">tae kim's guide</a></div>
    <div><a href="http://maggiesensei.com/">maggie sensei's lessons</a></div>
    <h5 class="resources-subheading">games</h5>
    <div>coming soon: learn hiragana</div>
  </div>
  <div class="levels-div">
    <h4 class="levels-header">intermediate</h4>
    <div><a href="https://www.amazon.ca/Tobira-Advanced-Japanese-Learning-Multimedia/dp/4874244475">tobira</a></div>
  </div>
  <div class="levels-div">
    <h4 class="levels-header">advanced</h4>
    <div>coming soon</div>
  </div>
  <div class="levels-div">
    <h4 class="levels-header">miscellaneous</h4>
    <h5 class="resources-subheading">dictionaries</h5>
    <div>web: <a href="https://jisho.org/">jisho</a> and <a href="https://www.sanseido.biz/">sanseido</a></div>
    <div>android: <a href="http://takoboto.jp/">takoboto</a></div>
    <div>iOS: <a href="http://www.imiwaapp.com/">imiwa?</a></div>
    <h5 class="resources-subheading">tools</h5>
    <div>flashcards: <a href="https://www.ankiapp.com/">anki</a></div>
    <h5 class="resources-subheading">podcasts</h5>
    <div><a href="http://hkbk.fm/">hiikibiiki</a></div>
    <h5 class="resources-subheading">shows</h5>
    <div><a href="https://en.wikipedia.org/wiki/Terrace_House_(franchise)">terrace house</a> (viewing order: seasons <a href="https://en.wikipedia.org/wiki/Terrace_House:_Tokyo_2019%E2%80%932020">5</a>, <a href="https://en.wikipedia.org/wiki/Terrace_House:_Boys_%26_Girls_in_the_City">2</a>, <a href="https://en.wikipedia.org/wiki/Terrace_House:_Boys_%C3%97_Girls_Next_Door">1</a>, <a href="https://en.wikipedia.org/wiki/Terrace_House:_Aloha_State">3</a>, <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">4</a>)</div>
    <h5 class="resources-subheading">youtube channels</h5>
    <div>real-life situations recordings: <a href="https://www.youtube.com/channel/UCcCeJ3pQYFgvfVuMxVRWhoA/videos">もしもしゆうすけ</a></div>
  </div>
</div>