<h2 id="public-chat-header">kanji keeper chat</h2>
<div id="public-chat-layout">
  <div id="public-messages-and-type">
    <div id="public-chat-messages">
      <div id="messages" data-chat-room-id="<%= @chat_room.id %>">
        <%= render @chat_room.messages %>
      </div>
    </div>
     <div id="fav-scissors">
      <i class="fas fa-cut"></i>
    </div>
    <div id="public-chat-type-here">
      <div id="dashed-border"></div>
      <input type="text" data-behavior="room_speaker" id="public-text-box">
    </div>
  </div>
</div>