<div class="my-posts-layout">
  <h3 class="my-posts-header">favorites</h3>
  <% @posts.each do |post| %>
    <div class="kanji-card-container">
      <% if post.private == false %>
        <%= render partial: "posts/card", locals: { post: post } %>
      <% end %>
    </div>
  <% end %>
</div>