<div id="show-post-card">
  <h2 id="my-favorites-header">favorites</h2>
  <% @posts.each do |post| %>
    <div class="kanji-card-container">
      <% if post.private == false %>
        <%= render partial: "posts/card", locals: { post: post } %>
      <% end %>
    </div>
  <% end %>
</div>