<div class="my-posts-layout">
  <h3 class="my-posts-header">favorites (<%= @posts.count %>)</h3>
  <% @posts.each do |post| %>
    <div class="kanji-card-container">
      <%= render partial: "posts/card", locals: { post: post } %>
    </div>
  <% end %>
</div>