<% @user_notifications.each do |notification| %>
  <div class="individual-notification"><%= notification.user.username %> has commented on your <%= link_to notification.comment.post.expression, post_path(notification.comment.post_id) %> post!</div>
<% end %>
