<div class="user-profile-container">
  <div class="user-profile-image-div">
    <div>
      <% if @user.avatar.blank? %>
        <%= image_tag "cherry-blossom.png", class: 'sakura-avatar' %>
      <% else %>
        <%= cl_image_tag(@user.avatar, :class => 'avatar', secure: true) %>
      <% end %>
    </div>
  </div>
  <div class="user-profile-bio-div">
    <h2><%= @user.username %>'s profile</h2>
    <div>
      <% if @user.bio.blank? %>
        <div>user hasn't added a bio yet :'(</div>
      <% else %>
        <%= @user.bio %>
      <% end %>
    </div>
  </div>
</div>