<div class="edit-user-account">
  <h2 class="edit-account-header">forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email', :class => 'form-field-design form-width edit-account-form' %>
    </div>

    <div class="actions">
      <%= f.submit "send me reset password instructions", :class => 'btn btn-tetrary black-btn' %>
    </div>
  <% end %>
</div>