<div class="home-layout container-fluid page-wrapper">
  <div class="all-posts"> 
    <% @posts.each do |post| %>
    <div class="kanji-card-container">
      <%= render partial: "card", locals: { post: post } %>
    </div>
    <% end %>
  </div>
  <div class="sidebar-layout">
    <div id="daily-kanji">
      <h2 id="kanji-title">daily kanji</h2>
      <h6 class="kanji-subtitle">new character every day!</h6>
      <div class="under-kanji-title">
        <p class="needs-furi stroke-order"></p>
        <p class="kunyomi">Kun readings: </p>
        <p class="onyomi">On readings: </p>
        <p class="word-definition">Definitions: </p>
        <p class="jisho-url"></p>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/contact" %>