<div class="my-posts-layout">
  <h3 class="my-posts-header">
    my posts
  </h3>
  <% @posts.each do |post| %>
    <div class="kanji-card-container">
      <%= render partial: "card", locals: { post: post } %>
    </div>
  <% end %>
</div>