<div class="home-layout" id="card-and-comment">
  <div id="show-post-card">
    <h2 id="header-user-all-posts"><%= current_user.username %>'s posts</h2>
    <% @posts.each do |post| %>
      <div class="kanji-card-container">
        <%= render partial: "card", locals: { post: post } %>
      </div>
    <% end %>
  </div>
</div>