@font-face {
  font-family: 'KanjiStrokeOrder';
  src: font-url('KanjiStrokeOrders_v4.002.ttf');
}

.stroke-order {
  font-family: 'KanjiStrokeOrder';
  font-size: 100px;
  margin: 0px;
}

.logo-font {
  padding-top: 8px;
  padding-bottom: 8px;
}

a:link {
  text-decoration: none; 
}

ul {
  list-style-type: none;
}

.kanji-nav {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  padding: 30px;
}

.nav-hack {
  width: 150px;
  text-align: right;
}

.home-layout {
  display: flex;
  max-width: 1000px;
  margin: 60px auto 0 auto;
}

.all-posts {
 width: 60%;
}

.sidebar-layout {
  width: 39%;
}

.kanji-card {
  background-color: white;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 40px;
  width: 100%;
}

.post-image {
  width: 100%;
}

.top-card {
  display: flex;
  background-size: cover;
  background-position: center;
  height: 300px;
}

.top-card-features {
  width: 100%;
  padding: 25px 40px 0px 40px;
  display: flex;
  justify-content: space-between;
}

.big-kanji {
  font-size: 30px;
  margin: 0 0 15px 0;
}

.inner-card {
  border-bottom: 1px solid #e3e3e3;
  padding: 30px 0 12px 0;
}

.bottom-card-padding {
  padding: 0 45px 30px 45px;
}

.card-additional-info {
  display: flex;
  color: #949494;
  font-size: 12px;
  padding: 20px 45px 0 45px;
  float: right;
}

.card-buttons {
  padding-top: 12px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  a {
    padding-right: 7px;
  }
}

.right-margin {
  margin-right: 13px;
}

.date-border {
  display: flex;
  border-radius: 5px;
  border: 1px solid #949494;
  padding: 3px;
  font-size: 12px;
  justify-content: flex-end;
}

.no-pic-post {
  display: flex;
}

.avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

#daily-kanji {
  text-align: right;
}

h2 {
  padding: 20px 32px 0 32px;
}

#under-kanji-title {
  padding: 0 20px 0 20px;
}

#user-sidebar {
  text-align: center;
  padding: 0 32px 0 32px;
  li {
    padding: 12px;
  }
}