@import "posts";
@import "forms";
@import "new-post";
@import "user-profile";
@import "comment-button";

@font-face {
  font-family: 'KanjiStrokeOrder';
  src: font-url('KanjiStrokeOrders_v4.002.ttf');
}

#error_explanation {
  text-align: center;
  color: #FF768A;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f5f5f5;
}

::selection {
  background: #fcd6ca; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fcd6ca; /* Gecko Browsers */
}

.stroke-order {
  font-family: 'KanjiStrokeOrder';
  font-size: 130px;
  margin: 0px;
}

.logo-font {
  padding: 8px 0 8px 16px;
  font-weight: 700;
  a {
    color: #313840;
  }
}

a:link {
  text-decoration: none; 
}

a {
  color: #FF768A;
}

a:hover {
  color: #FF768A;
}

ul {
  list-style-type: none;
}

.kanji-nav {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  padding: 9px 20px;
  align-items: center;
  padding-right: 24px;
  a {
    color: #313840;
  }
}

.cherry-logo {
  padding: 0 3px 4px 4px;
}

.flex-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 15px;
}

.left-nav {
  width: 129px;
  text-align: right;
}

.nav-signedout-space {
  display: flex;
}

.nav-right-space {
  width: 115px;
}

.nav-hack {
  width: 44px;
  text-align: right;
  font-size: 24px;
}

.thicc {
  font-weight: 600;
}

.dropdown-menu {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: none;
}

.home-layout {
  display: flex;
  max-width: 1000px;
  margin: 45px auto 0 auto;
}

#daily-kanji {
  margin-left: 85px;
}

#kanji-title {
  padding-left: 22px;
}

#under-kanji-title {
  padding: 0 20px 0 20px;
}

#new-post-button {
  text-align: center;
  display: flex;
  align-items: center;
}

.navbar-post-button-design {
  font-size: 15px;
}

.cool-btn {
  background: none;
  border: 2px solid;
  border-bottom-width: 4px;
  letter-spacing: inherit;
  margin: 1em;
  padding: 1em 2em;
  text-transform: inherit;
  transition: color 1s;
  font: 700 11px/1 Montserrat, sans-serif;
  letter-spacing: 0.125em;
  text-align: center;
  color: #313840;
  width: 120px;
}

.btn-wow {
  &:hover {
    color: adjust-hue(#FF768A,0);
    transform: translateY(-2px);
  }
}

.big-nav-button:hover {
  box-shadow: 0px 5px 10px white;
  color: #fff;
  transform: translateY(-2px);
}

.main-buttons {
  box-shadow: 0px 8px 15px rgba(204, 204, 204, 0.1);
  background-image: linear-gradient(to right, #FF768A, #F9A488);
  transition: all 0.2s ease 0s;
  cursor: pointer;
  border-radius: 2px;
  color: white;
  a {
    color: white;
  }
}

.fa-bars:before {
  color: #313840;
}

.button-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-buttons:hover {
  box-shadow: 0px 5px 10px #fcd6ca;
  color: #fff;
  transform: translateY(-2px);
}

.lesser-buttons {
  transition: all 0.2s ease 0s;
  cursor: pointer;
  border-radius: 2px;
}

.lesser-buttons:hover {
  transform: translateY(-2px);
}

#subscription {
  background-color: white;
  padding: 50px;
  margin-top:auto;
  margin-bottom:auto;
  text-align:center;
}

.inner-subscription {
  margin-bottom: 25px;
}

#form-and-button {
  display: flex;
  margin-top:auto;
  margin-bottom:auto;
  justify-content: center;
  margin: 30px;
}

#subscription-button {
  background-color: #313840;
  cursor: pointer;
  border: solid 1px #313840;
  color: white;
  transition: all 0.3s ease 0s;
}

#subscription-button:hover {
  color: #fff;
  transform: translateY(-1px);
}
