@font-face {
  font-family: 'KanjiStrokeOrder';
  src: font-url('KanjiStrokeOrders_v4.002.ttf');
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f5f5f5;
}

::selection {
  background: #fcd6ca; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fcd6ca; /* Gecko Browsers */
}

.stroke-order {
  font-family: 'KanjiStrokeOrder';
  font-size: 100px;
  margin: 0px;
}

.logo-font {
  padding: 8px 0 8px 16px;
  font-weight: 700;
}

a:link {
  text-decoration: none; 
}

a {
  color: #FF768A;
}

a:hover {
  color: #FF768A;
}

ul {
  list-style-type: none;
}

.kanji-nav {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  padding: 9px 20px;
  background-color: white;
  align-items: center;
}

.flex-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 15px;
}

.left-nav {
  width: 129px;
  text-align: right;
}

.nav-signedout-space {
  display: flex;
}

.nav-right-space {
  width: 115px;
}

.nav-hack {
  width: 95px;
  text-align: right;
  font-size: 24px;
}

.thicc {
  font-weight: 600;
}

.dropdown-menu {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: none;
}

.home-layout {
  display: flex;
  max-width: 1000px;
  margin: 45px auto 0 auto;
}

.all-posts {
 width: 60%;
}

.sidebar-layout {
  width: 39%;
}

.kanji-card-container {
  position: relative;
}

.kanji-card {
  background-color: white;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(66, 66, 66, 0.09);
  margin-bottom: 40px;
  width: 100%;

  &:before, &:after {
    content: ""; height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-clip-path: polygon(0% 0%, 5%  100%, 10% 0%, 15%  100%, 20% 0%, 25% 100%, 30% 0%, 35%  100%, 40% 0%, 45%  100%, 50% 0%, 55%  100%, 60% 0%, 65%  100%, 70% 0%, 75%  100%, 80% 0%, 85%  100%, 90% 0%, 95%  100%, 100% 0%);
  }
  &:before {
    background-color: #e1e1e1b0; // colour in the gaps between bumps
    top: 0;
  }
  &:after {
    background-color: white;
    bottom: -2px;
  }
}

.post-image {
  width: 100%;
}

.top-card {
  display: flex;
  background-size: cover;
  background-position: center;
  height: 300px;
}

.top-card-features {
  width: 100%;
  padding: 25px 58px 0px 40px;
  display: flex;
  justify-content: space-between;
}

.big-kanji {
  font-size: 30px;
  font-weight: 600;
}

.inner-card {
  border-bottom: 1px solid #e3e3e3;
  padding: 30px 0 12px 0;
  ul {
    padding-inline-start: 0px;
  }
}

.card-content-alignment {
  text-align: right;
}

.bottom-card-padding {
  padding: 0 45px 0 45px;
}

.card-additional-info {
  display: flex;
  color: #949494;
  font-size: 12px;
  padding: 20px 45px 0 45px;
  float: right;
}

.card-buttons {
  padding: 15px 0px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-margin {
  margin-right: 13px;
}

.user-button {
  font-size: 15px;
  margin-right: 7px;
  a {
    color: white;
  }
  padding: 7px 14px;
}

.link-margin {
  margin-right: 10px;
}

.date-border {
  display: flex;
  border-radius: 5px;
  border: 1px solid #949494;
  padding: 3px 9px;
  font-size: 12px;
  justify-content: flex-end;
}

.no-pic-post {
  display: flex;
}

.avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

#daily-kanji {
  margin-left: 85px;
}

h2 {
  padding-left: 22px;
}

#under-kanji-title {
  padding: 0 20px 0 20px;
}

#new-post-button {
  text-align: center;
  display: flex;
  align-items: center;
  div {
    padding: 6px 20px 6px 20px;
  }
}

.navbar-post-button-design {
  font-size: 15px;
}

.main-buttons {
  box-shadow: 0px 8px 15px rgba(204, 204, 204, 0.1);
  background-image: linear-gradient(to right, #FF768A, #F9A488);
  transition: all 0.2s ease 0s;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

.button-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-buttons:hover {
  box-shadow: 0px 5px 10px #fcd6ca;
  color: #fff;
  transform: translateY(-2px);
}

.lesser-buttons {
  transition: all 0.2s ease 0s;
  cursor: pointer;
  border-radius: 5px;
}

.lesser-buttons:hover {
  transform: translateY(-2px);
}