// Place all the styles related to the ChatRooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chat-room-layout {
  display: flex;
}

#chat-rooms-header {
  margin-bottom: 25px;
  text-align: center;
}

#chat-list-top-bar {
  border-bottom: 1.5px solid #F5F5F5;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

#chat-list-and-box {
  a {
    color: #313840;
    font-weight: bold;
  }
  background-color: white;
  //border: 1px solid #F5F5F5;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  margin-left: 150px;
  text-align: left;
  ul {
    padding: 0;
  }
  width: 35%;
}

#new-chat-room-link {
  // border: 1.5px dashed #313840;
  // border-image: linear-gradient(45deg,#FF768A,#90cedb) 1;
}

#chat-room-list {
  overflow: auto;
  //overflow-y: scroll;
}

.individual-chats {
  //border-bottom: 1.5px dashed #313840;
  // border-image: linear-gradient(45deg,#FF768A,#90cedb) 1;
  margin: 20px;
  padding: 20px;
}

#chat-box-and-type-here {
  background-color: white;
  border: 1px solid #F5F5F5;
  // border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  margin-right: 150px;
  // padding: 50px 50px 0 25px;
  position: relative;
  width: 100%; 
}

#chat-box {
}

#chat-messages-container {
  // border: 1px solid;
  height: 100%;
  // border-image: linear-gradient(45deg,#FF768A,#90cedb) 1;
  padding: 25px 25px 0 25px;
}

#chat-type-here {
  border-bottom-right-radius: 20px;
  border-top: 1.5px solid #F5F5F5;
  bottom: 0;
  height: 15%;
  padding: 20px;
  position: absolute;
  width: 100%;
}