.black-btn {
  background-color: #313840 !important;
  color: white !important;
  //  margin: 0.5em !important;
  width: 100% !important;
}

.theta {
  display: flex;
  justify-content: flex-end;
}

.theta .btn {
  background: transparent;
  border-radius: 0;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: 600;
  line-height: 1;
  padding: 0.7em 1.4em;
  position: relative;
  transform: translate(0.5em -0.4em);
  transition: transform 0.2s;
  user-select: none;
  vertical-align: bottom;
}

.theta .btn:before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform 0.2s, background-color 0.2s  !important;
  transform: translate(0.6em, -0.3em);
  width: 100%;
  z-index: -1;
}

.theta .btn-tetrary {
  border-color: #313840;
  color: black;
}

.theta .btn-tetrary:hover {
  transform: translate(0.2em, -0.1em);
}

.theta .btn-tetrary:hover:before {
  transform: translate(-0.4em, 0.4em);
}

.theta .btn-tetrary:active {
  transform: translate(0, 0);
  transition-duration: 0.1s;
}

.theta .btn-tetrary:active:before {
  background-color: #FFADBC !important;
  transform: translate(0, 0);
  transition-duration: 0.1s;
}

.theta .btn-tetrary:before {
  background-color: rgba(255, 173, 188, 0.8) !important;
}