.old-and-new-comments {
  margin-left: 50px;
  background-color: white;
  height: 100%;
}

.post-comments {
  padding: 40px 40px 0 40px;
}

.post-a-comment {
  padding: 0 40px 40px 40px;
}