#show-post-card {
  margin: 0 auto;
  margin-top: 5%;
  width: 650px;

  @media screen and (min-width: 1500px) {
    width: 40%;
  }

  @media screen and (max-width: 700px) {
    width: 90%;
  }

  @media screen and (min-width: 2000px) {
    width: 27%;
  }
}

#card-and-comment {
  display: initial;
}

#show-post-card {
}

.new-comment {
  margin-bottom: 40px;
  input {
    padding: 20px;
  }
}

#comments {
  height: 100%;
  margin: 0 auto;
  max-height: 630px;
  width: 650px;

  @media screen and (max-width: 800px) {
    max-height: initial;
    overflow-y: initial;
  }

  @media screen and (max-width: 700px) {
    width: 90%;
  }

  @media screen and (min-width: 1500px) {
    width: 40%;
  }

  @media screen and (min-width: 2000px) {
    width: 27%;
  }
}

.comment-outer {
  background-color: white;
  border: 1px dotted skyblue;
  margin-bottom: 30px;
  padding: 15px;
}

.post-comment {
  border: 1.5px dashed pink;
  display: flex;
  padding: 25px;
  word-break: break-word;
}

#comment-avatar {
  align-items: center;
  height: 100%;
  justify-content: center;
  margin-right: 10px;
}

.comment-content {
  padding-bottom: 5px;
  width: 100%;
}

#comment-user-and-content {
  align-items: center;
  display: flex;
}

#comment-date-and-options {
  display: flex;
  width: 100%;
}

#comment-date {
  display: flex;
}

.comment-date-margin {
  margin-left: 10px;
  word-break: initial;
}

#comment-in-post-button {
  align-items: center;
  display: flex;
  justify-content: center;
  input {
    width: 100%;
  }
}

.comment-in-post-official-button {
  background-color: #313840;
  border: 2px solid black;
  color: white;
}

#comment-button-div {
  width: 40%;
}