body#sign-in-body {
  background-color: white;
}

.field {
  margin: 0 auto;
  position: relative;
}

:focus {
  outline: none;
}

.signed-out-pages {
  background-color: white;
  padding: 60px 50px 0 50px;
  text-align: center;
  width: 100%;
}

.forms-layout {
  margin: 0 auto;
  max-width: 396px;
  padding: 80px 40px 0 40px;
}

.fresh-forms-layout {
  margin: 0 auto;
  max-width: 396px;
  padding: 45px 30px 0 30px;
}

.avatar-field-design {
  border: none;
  padding: 0 0 10px 45px;
  width: 23%;
}

.form-field-design {
  border: 1px solid;
  border-image: linear-gradient(45deg,#FF768A,#90cedb) 1;
  input {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
  }
  margin-bottom: 15px;
  padding: 8px;
  text-align: center;
  width: 100%;
}

.input-margin {
//  margin: 0.5em;
}

.fav-icon {
  height: 32px;
  // margin-right: -48px;
  display: inline-block;
  font-size: 14px;
  left: 20px;
  opacity: 0.5;
  padding-right: 15px;
  position: absolute;
  top: 13px;
  width: 32px;
}

.fav-icon:before {
  background: -webkit-gradient(linear, left bottom, left top, from(#FF768A), to(#90cedb));
  display: initial; /* reset Font Awesome's display:inline-block */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-icon {
  padding-top: 5px;
}

.browser-avatar-label { // fake hidden button
  background-color: white;
  border: 1.5px dashed pink;
  cursor: pointer;
  font-weight: bold;
  // border-image: linear-gradient(45deg,#FF768A,#90cedb) 1;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  width: 50px;
  z-index: 1;
}

.hidden-icon-input {
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

::placeholder {
  color: #7F7F7F;
  font-size: 14px;
  padding-left: 5px;
  text-align:center;
}

.remember-me {
  margin-top: 40px;
}

.main-form-button {
  background-image: linear-gradient(to right, #FF768A, #F9A488);
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  padding: 7px;
  width: 23%;
}

.main-form-button:hover {
  box-shadow: 0px 5px 10px #fcd6ca;
  color: #fff;
  transform: translateY(-1px);
}

.forgot-pass {
  a {
    color: #90cedb;
    font-weight: 600;
    font-size: 12px;
  }
  padding: 20px;
  text-transform: uppercase;
}

.sign-up-now {
  margin-top: 60px;
}

.sign-in-pls {
  margin-top: 50px;
}