#main-div-container {
  display: flex;
  margin-top: 2%;
  width: 100%;

  @media screen and (max-width: 650px) {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.landing-font {
  font-size: 20px;

  @media screen and (max-width: 1000px) {
    font-size: 18px;
  }

  @media screen and (max-width: 710px) {
    font-size: 16px;
  }

  @media screen and (max-width: 650px) {
    font-size: 18px;
  }

  @media screen and (max-width: 500px) {
    font-size: 16px;
  }

  @media screen and (max-width: 320px) {
    font-size: 15px;
  }
}

#big-sakura-and-description {
  margin: 5% 0 5% 15%;
  width: 50%;
  word-break: break-word;

  @media screen and (max-width: 650px) {
    margin: initial;
    order: 1;
    padding: 5% 10% 0 10%;
    width: initial;
  }

  @media screen and (max-width: 400px) {
    margin: 0;
  }

  @media screen and (max-width: 320px) {
    padding: 2% 10% 0 10%;
  }
}

#big-sakura-div {
  margin-bottom: 5%;
  text-align: center;
}

#big-sakura-image {
  width: 35%;
}

#website-description {
}

#landing-header {
  font-weight: bold;
  font-size: 25px;
  line-height: 1.7;
  text-align: center;
  word-break: break-word;

  @media screen and (max-width: 1000px) {
    font-size: 23px;
  }

  @media screen and (max-width: 900px) {
    font-size: 21px;
  }

  @media screen and (max-width: 650px) {
    font-size: 22px;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 500px) {
    font-size: 18px;
  }

  @media screen and (max-width: 400px) {
    font-size: 17px;
  }

  @media screen and (max-width: 320px) {
    font-size: 14px;
  }
}

#under-landing-header {
  line-height: 2;
  margin-bottom: 3%;
  width: 100%;

  @media screen and (max-width: 600px) {
    line-height: 2em;
  }
}

#join-now {
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 650px) {
    justify-content: center;
    margin-top: 7%;
  }

  @media screen and (max-width: 400px) {
    font-size: 15px;
  }

  @media screen and (max-width: 320px) {
    font-size: 14px;
  }
}

#mobile-demo-div {
  @media screen and (max-width: 850px) {
    margin-top: 7%;
  }

  @media screen and (max-width: 650px) {
    align-items: center;
    display: flex;
    justify-content: center;
    order: 2;
    margin-bottom: 2em;
  }
}

#mobile-demo-image {
  height: auto;
  margin: 10%;
  width: 70%;

  @media screen and (max-width: 850px) {
    margin-top: 5%;
  }

  @media screen and (max-width: 650px) {
    margin: 0;
    width: 55%;
  }
}

#landing-create-posts {
  align-items: center;
  background-color: pink;
  display: flex;
  justify-content: center;
}

#post-creation-border {
  border-right: 3px dashed white;
  border-top: 3px dashed white;
  margin: 10px;
  width: 100%;
}

#post-creation-text { 
  font-weight: 600;
  line-height: 1.7;
  mark {
    background-color: white;
  }
  margin: 0 auto;
  padding: 6% 0;
  text-align: center;
  word-break: break-word;

  @media screen and (max-width: 1000px) {
    padding: 10% 0;
  }

  @media screen and (max-width: 650px) {
    padding: 13% 5%;
  }

  @media screen and (max-width: 320px) {
    padding: 20% 2%;
  }
}

#furigana-image-div {
  align-items: center;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 650px) {
    margin: 1em 1em 0 1em;
  }
}

#furigana-demo-image {
  margin-top: 2%;
  width: 60%;

  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

#furigana-text-div {
  display: flex;
  font-weight: 600;
  justify-content: center;
  padding: 6% 0;
  text-align: center;

  @media screen and (max-width: 1000px) {
    padding: 10% 0;
  }

  @media screen and (max-width: 650px) {
    padding: 13% 5%;
  }

  @media screen and (max-width: 320px) {
    padding: 20% 2%;
  }
}

#furigana-demo-text {

}

#kanji-image-and-text {
}

#kanji-image-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

#kanji-demo-image {
  box-shadow: 0 0 15px rgba(66, 66, 66, 0.2);
  height: auto;
  width: 35%;

  @media screen and (max-width: 650px) {
    width: 70%;
  }

  @media screen and (max-width: 320px) {
    width: 85%;
  }
}

#kanji-text-div {
  display: flex;
  font-weight: 600;
  justify-content: center;
  padding: 6% 0;
  text-align: center;

    @media screen and (max-width: 1000px) {
    padding: 10% 0;
  }

  @media screen and (max-width: 650px) {
    padding: 13% 5%;
  }

  @media screen and (max-width: 320px) {
    padding: 20% 2%;
  }
}

#kanji-demo-text {
  font-weight: 600;
  word-break: break-word;
}

#chat-text-and-image {

}

#chat-image-div {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 1em;
}

#chat-demo-image {
  width: 80%;

  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

#chat-text-div {
  display: flex;
  font-weight: 600;
  justify-content: center;
  padding: 6% 0;

  @media screen and (max-width: 1000px) {
    padding: 10% 0;
  }

  @media screen and (max-width: 650px) {
    padding: 13% 5%;
  }

  @media screen and (max-width: 320px) {
    padding: 20% 2%;
  }
}

#chat-demo-text {
  text-align: center;
  word-break: break-word;
}

#make-account {
  align-items: center;
  background-color: pink;
  display: flex;
  justify-content: center;
}

#make-account-border {
  border-bottom: 3px dashed white;
  border-left: 3px dashed white;
  margin: 10px;
  width: 100%;
}

#make-account-text {
  font-weight: 600;
  line-height: 1.7;
  margin: 0 auto;
  padding: 6% 0;
  text-align: center;
  word-break: break-word;

  @media screen and (max-width: 1000px) {
    padding: 10% 0;
  }

  @media screen and (max-width: 650px) {
    padding: 13% 5%;
  }

  @media screen and (max-width: 320px) {
    padding: 20% 2%;
  }
}