#landing-nav-container {
  a {
    color: #313840;
  }
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 20px 35px 0 35px;
}

#landing-logo-link {
  font-size: 25px;

  @media screen and (max-width: 850px) {
    font-size: 30px;
  }

  @media screen and (max-width: 650px) {
    font-size: 35px;
  }

  @media screen and (max-width: 550px) {
    font-size: 40px;
  }

  @media screen and (max-width: 450px) {
    font-size: 45px;
  }

  @media screen and (max-width: 400px) {
    font-size: 50px;
  }

  @media screen and (max-width: 330px) {
    font-size: 55px;
  }
}

#landing-sign-in-and-out {
  align-items: center; 
  display: flex;
  font-size: 18px;
  justify-content: center;
  white-space: nowrap;

  @media screen and (max-width: 850px) {
    font-size: 22px;
  }

  @media screen and (max-width: 650px) {
    font-size: 27px;
  }

  @media screen and (max-width: 550px) {
    font-size: 30px;
  }

  @media screen and (max-width: 450px) {
    font-size: 36px;
  }

  @media screen and (max-width: 400px) {
    font-size: 40px;
  }

  @media screen and (max-width: 330px) {
    font-size: 43px;
  }
}

#landing-nav-sign-in-margin {
  margin-right: 50px;
}