
body, html { 
  height: auto;
  margin: 0;
  width: 100%; 
}

#landing-page-layout {
  width: fit-content;
}

#description-and-demo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

#landing-header {
  font-weight: bold;
  line-height: 1.5;
  word-break: break-word;
}

#website-description {
  margin: 2%;
  padding: 2%;

  @media screen and (min-width: 1200px) {
    width: 30%; 
  }

  @media screen and (max-width: 1299px) {
    width: 40%;
  }

  @media screen and (max-width: 1199px) {
    width: 38%;
  }

  @media screen and (max-width: 900px) {
    width: 55%;
  }

  @media screen and (max-width: 800px) {
    width: 46%;
  }

  @media screen and (max-width: 650px) {
    h2 {
      font-size: 2em;
    }
    h5 {
      font-size: 1.5em;
    }
    width: 40%;
  }

  @media screen and (max-width: 550px) {
    h2 {
      font-size: 2em;
    }
    h5 {
      font-size: 2em;
    }
    width: 47%;
  }

  @media screen and (max-width: 450px) {
    h2 {
      font-size: 2.5em;
    }

    h5 {
      font-size: 2em;
    }
    width: 45%;
  }

  @media screen and (max-width: 400px) {
    h2 {
      font-size: 2.5em;
    }

    h5 {
      font-size: 2.5em;
    }
    width: 57%;
  }

  @media screen and (max-width: 350px) {
    width: 47%;
  }

  @media screen and (max-width: 330px) {
    h2 {
      font-size: 3em;
    }
    h5 {
      font-size: 2.7em;
    }
    width: 46%;
  }
}

#under-landing-header {
  line-height: 1.7;
  margin: 0;
  margin-bottom: 3%;

  @media screen and (max-width: 420px) {
    margin-bottom: 6%;
  }
}

#join-now {
  display: flex;
  justify-content: flex-end;
}

#mobile-demo {
  height: auto;
  margin-bottom: 3%;
  width: 300px;

  @media screen and (max-width: 650px) {
    width: 300px;
  }

  @media screen and (max-width: 550px) {
    width: 375px;
  }
  
  @media screen and (max-width: 500px) {
    width: 400px;
  }

  @media screen and (max-width: 450px) {
    width: 340px;
  }

  @media screen and (max-width: 400px) {
    width: 365px;
  }

  @media screen and (max-width: 350px) {
    width: 440px;
  }

  @media screen and (max-width: 330px) {
    width: 450px;
  }
}

#landing-create-posts {
  align-items: center;
  background-color: pink;
  display: flex;
  justify-content: center;
}

#post-creation-border {
  border-right: 3px dashed white;
  border-top: 3px dashed white;
  margin: 10px;
  width: 100%;
}

#post-creation-text { 
  font-weight: 600;
  line-height: 1.7;
  margin: 0 auto;
  mark {
    background-color: white;
  }
  overflow: hidden;
  padding: 6% 0;
  text-align: center;
  width: 100%;

  @media screen and (max-width: 650px) {
    font-size: 2em;
  }

  @media screen and (max-width: 500px) {
    font-size: 2.4em;
  }

  @media screen and (max-width: 400px) {
    font-size: 2.7em;
  }

  @media screen and (max-width: 330px) {
    font-size: 3em;
  }
}

#furigana-image-and-text {
  display: flex;
  justify-content: space-evenly;

  @media screen and (max-width: 1500px) {
    display: initial;
  }
}

#furigana-demo-image {
  @media screen and (max-width: 1500px) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

#furigana-demo {
  height: auto;
  margin-top: 2%;
  width: 650px;
}

#furigana-demo-text {
  align-items: center;
  display: flex;
  font-weight: 600;
  justify-content: center;

  @media screen and (max-width: 1500px) {
    display: flex;
    justify-content: center;
    padding: 3em;
    width: 100%;
  }
}

#kanji-image-and-text {
  display: flex;
  justify-content: space-evenly;
}

#kanji-image-demo {

}

#kanji-demo {
  box-shadow: 0 0 15px rgba(66, 66, 66, 0.2);
  height: auto;
  width: 350px;
}

#kanji-demo-text {
  align-items: center;
  display: flex;
  font-weight: 600;
  justify-content: center;
}

#chat-text-and-image {

}

#chat-demo-text {
  align-items: center;
  display: flex;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 3%;
  margin-top: 3%;
}

#chat-image-demo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

#chat-demo {
  height: auto;
  width: 900px;
}

#make-account {
  align-items: center;
  background-color: pink;
  display: flex;
  justify-content: center;
}

#make-account-border {
  border-bottom: 3px dashed white;
  border-left: 3px dashed white;
  margin: 10px;
  width: 100%;
}

#make-account-text {
  font-weight: 600;
  line-height: 1.7;
  margin: 0 auto;
  mark {
    background-color: white;
  }
  overflow: hidden;
  padding: 6% 0;
  text-align: center;
  width: 100%;
}