body { 
  background-image: image-url("graph-paper.svg");
  background-repeat: repeat;
}

html, body {
  @media screen and (max-width: 360px) {
    margin: 0;
    padding: 0;
    width: max-content;
  }
}

.new-post-header {
  padding-bottom: 20px;
  text-align: center;
}

.new-post-card {
  width: 600px;
  background-color: white;
  padding: 60px;
  box-shadow: 0 0 15px rgba(66, 66, 66, 0.09);
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  * {
    box-sizing: border-box;
  }
  @media screen and (max-width: 650px) {
    margin: 0 auto;
    text-align: center;
    width: 95%;
    ul {
      padding: 0;
    } 
  }
}

.new-post-margin {
  margin-bottom: 20px;
  height: 45px;
}

.new-post-each {
  width: 400px;
  border: 2px solid;
  border-image: linear-gradient(45deg,#FF768A,#90cedb) 1;

  @media screen and (max-width: 650px) {
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    width: 95%; 
  }
}

.big-blog {
  height: 300px;
}

.additional-info {
  padding-top: 20px;

  @media screen and (max-width: 650px) {
    text-align: center;
  }
}

.photo-input {
  padding-bottom: 15px;
}

.new-post-button {
  width: 50%;
  margin-top: 10px;
  margin: 0 auto;
  input {
    background: #313840;
    border: 1px solid;
    color: white;
    padding: 1px;
    width: 100%;
    &:hover {
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
  }
}