.header-and-x {
  margin: 10px;
}

.modal-title {
  font-weight: 600;
}

.notification-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: scroll;
}

#notification-and-x {
  align-items: center;
  border: 1px solid;
  border-image: linear-gradient(45deg,#FF768A,#90cedb) 1;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.individual-notification {
  background-color: white;
  padding: 40px 0;
  text-align: center;
  width: 70%;
}

#x-icon-div {
  padding: 40px 0;
  text-align: center;
}

#x-icon {
  color: #313840;
}

#x-icon:hover {
  color: pink;
  cursor: pointer;
}

.modal-footer {
  margin: 10px;
}