// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all-posts {
  width: 60%;

  @media screen and (max-width: 800px) {
    margin: 0 auto;
    max-width: 600px;
    order: 2;
    white-space: nowrap;
    width: 100%;
  }
}
 
.sidebar-layout {
  width: 39%;

  @media screen and (max-width: 800px) {
    margin: 0 auto;
    order: 1;
    text-align: center;
    width: 50%; 
  }
}
 
.my-posts-layout { //user posts
  margin: 0 auto;
  width: 39%;
}

.my-posts-header {
  padding: 28px 0 28px 0;
}

.kanji-card-container {
  position: relative;
}
 
.kanji-card {
  background-color: white;
  box-shadow: 0 0 15px rgba(66, 66, 66, 0.09);
  overflow: hidden;
  margin-bottom: 40px;
  width: 100%;
 
  &:before, &:after {
    content: ""; height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-clip-path: polygon(0% 0%, 5%  100%, 10% 0%, 15%  100%, 20% 0%, 25% 100%, 30% 0%, 35%  100%, 40% 0%, 45%  100%, 50% 0%, 55%  100%, 60% 0%, 65%  100%, 70% 0%, 75%  100%, 80% 0%, 85%  100%, 90% 0%, 95%  100%, 100% 0%);
  }
  &:before {
    background-color: #e1e1e1b0; // colour in the gaps between bumps
    top: 0;
  }
  &:after {
    background-color: white;
    bottom: -2px;
  }
}
 
.post-image {
  width: 100%;
}
 
.top-card {
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  height: 300px;
}

.card-image-padding {
  margin-bottom: 15px;
}
 
.top-card-features {
  display: flex;
  justify-content: space-between;
  padding: 25px 58px 0px 40px;
  width: 100%;

  @media screen and (max-width: 550px) {
    padding: 25px 38px 0px 38px;
  }
}
 
.lock-margin {
  margin-right: 16px;
}
 
.big-kanji {
  font-weight: 600;
  font-size: 30px;

  @media screen and (max-width: 500px) {
    font-size: 27px;
  }
  
  @media screen and (max-width: 320px) {
    font-size: 25px;
    text-align: left;
  }
}

.furigana-card {
  white-space: nowrap;
}
 
.inner-card {
  border-bottom: 1px solid #e3e3e3;
  padding: 5px 5px 12px 5px;
  ul {
    margin-left: -40px;
  }
}
 
.italic-meaning {
    font-style: italic;
    word-break: break-word;
  
  @media screen and (max-width: 500px) {
    font-size: 0.9em;
  }

  @media screen and (max-width: 320px) {
    text-align: left;
  }
}

.card-content-alignment {
  padding: 20px;
  text-align: right;
  white-space: pre-wrap;
  word-break: break-word;

  @media screen and (max-width: 500px) {
    padding: 20px 0 0 0;
  }

  @media screen and (max-width: 400px) {
    text-align: left;
  }

  @media screen and (max-width: 320px) {
    padding: 0;
    padding-top: 15px;
  } 
}

.post-content-urls {

}
 
.bottom-card-padding {
  padding: 0 45px 10px 45px;
  white-space: normal;

  @media screen and (max-width: 800px) {
    padding: 0 35px 0 35px;
  }
}
 
.card-additional-info {
  color: #949494;
  display: flex;
  font-size: 12px;
  justify-content: flex-end;
  padding: 10px 45px 0 45px;

  @media screen and (max-width: 550px) {
    padding: 10px 25px 0 25px;
  }

  @media screen and (max-width: 320px) {
    padding: 10px 25px 0 0;
  }
}
 
.card-buttons {
  a{
    display: inline-block;
  }
  align-items: baseline;
  color: #90cedb;
  font-size: 15px;
  padding: 15px 0px;

  @media screen and (max-width: 365px) {
    font-size: 14px;
  }

  @media screen and (max-width: 345px) {
    font-size: 13px;
  }

  @media screen and (max-width: 335px) {
    font-size: 12px;
  }

  @media screen and (max-width: 321px) {
    font-size: 11px;
  }
}
 
.to-the-left {
  margin-bottom: 12px;
  margin-left: 20px;

  @media screen and (max-width: 450px) {
    margin-left: 18px;
  }
}

.smol-padding {
  @media screen and (max-width: 350px) {
    padding-right: 10px;
  }
}

.to-the-right {
  margin-right: 20px;
}

#edit-and-delete {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
  padding-top: 5px;
}

.right-margin {
  margin-right: 13px;
}
 
.user-button {
  a {
    color: white;
  }
  font-size: 15px;
  margin-right: 7px;
  padding: 7px 14px;
}
 
.link-margin {
  margin-right: 10px;
}

#date-border-div {
  display: flex;
  justify-content: flex-end;
}
 
.date-border {
  border: 1px solid;
  border-image: linear-gradient(45deg, #FF768A, #90cedb) 1;
  font-size: 12px;
  margin-bottom: 7px;
  padding: 3px 9px;
  width: fit-content;

  @media screen and (max-width: 450px) {
    padding: 3px 6px;
  }

  @media screen and (max-width: 345px) {
    font-size: 9px;
  }
}

.no-pic-post {
  display: flex;
}
 
.avatar {
  border-radius: 50%;
  height: 35px;
  vertical-align: middle;
  width: 35px;
}