html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#public-chat-header {
  font-weight: bold;
  text-align: center;
}

#public-chat-layout {
  display: flex;
  margin-top: 2%;
}

#public-chat-online{
  background-color: white;
  border-right: 1.5px solid pink;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  height: 100%;
  margin-left: 150px;
  padding: 30px;
  ul {
    padding: 0;
  }
  width: 25%;
}

#public-messages-and-type {
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 15%;
  margin-right: 15%;
  position: relative;
  width: 100%;
}

#public-message {

}

#public-chat-messages {
  height: 500px;
  overflow-y: scroll;
}

.rowy {
  
}

#public-chat-type-here {
  background-color: white;
  border-bottom-right-radius: 20px;
  width: 100%;
}

#public-text-box {
  background-color: red;
  border: 0;
  height: 70px;
  padding: 20px;
  position: absolute;
  width: 100%;
}

.individual-public-message {
  background-color: white;
  max-width: inherit;
  padding: 20px;
}

#message-content {
}

p {
  word-break: break-all;
}

#messages {
  height: 500px;
}