#public-chat-header {
  font-weight: bold;
  // position: absolute;
  text-align: center;
  // top: 60%;
  // transform: rotate(270deg);
  @media screen and (max-width: 700px) {
    display: none;
  }
}

#public-chat-layout {
  display: flex;
  margin-top: 2%;

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}

#public-chat-online{
  background-color: white;
  border-bottom-left-radius: 20px;
  border-right: 1.5px solid pink;
  border-top-left-radius: 20px;
  height: 100%;
  margin-left: 150px;
  padding: 30px;
  ul {
    padding: 0;
  }
  width: 25%;
}

#public-messages-and-type {
  background-color: #fffeff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2390cedb' fill-opacity='0.26'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 0 15px rgba(66, 66, 66, 0.1);
  margin: 0 15%;
  position: relative;
  width: 100%;

  @media screen and (max-width: 430px) {
    margin: 0;
    padding: 0;
    width: max-content;
  }

  @media screen and (max-width: 360px) {
    height: auto;
    max-width: 400px;
    width: 100%;
  }
}

#public-chat-messages {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 430px;
  overflow-y: scroll;

  @media screen and (max-width: 350px) {
    height: 325px;
  }
}

#public-chat-type-here {
  background-color: white;
  border-bottom-right-radius: 20px;
  width: 100%;
}

#chat-actions-bar {
  display: flex;
  justify-content: space-between;
}

#fav-scissors {
  color: #313840;
  margin-left: 1%;
}

#fav-ghost {
  // color: #313840;
  display: none;
  //margin-right: 1%;
}

#dashed-border {
  background-color: #fffeff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2390cedb' fill-opacity='0.26'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border-top: 2px dashed #b6dee8;
  padding: 7px;
}

#public-text-box {
  background-color: #ffd2db;
  background-image: image-url("graph-paper.svg");
  background-repeat: repeat;
  border: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 15px rgba(66, 66, 66, 0.1);
  font-weight: bold;
  height: 125px;
  input {
    background-color: red;
  }
  padding: 20px;
  position: absolute;
  width: 100%;

  @media screen and (max-width: 400px) {
    height: 90px;
  }
}

#chat-user-image {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-right: 10px;
}

.username-bolden {
  font-weight: bold;
}

#chat-username-and-message {
  padding: 5px;
}

.individual-public-message {
  display: flex;
  max-width: inherit;
  padding: 20px;

  &.current {
    background-color: skyblue;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 10px #d3d9e9 ;
  }

  &.other {
    background-color: #FFBDC9;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 10px #ece2e2;
  }
}

.outside-individual-public-message {
  margin: 15px 60px;
}

.user-messages {
  display: flex;

  &.current {
    justify-content: flex-end;
  }

  &.other {
    justify-content: flex-start;
  }
}


.invisible-delete {
  display: none;
}

#message-date-and-delete{
  display: flex;
}

.user-date {
  color: #313840;
  display: flex;
  font-size: 13px;
  padding-top: 10px;
  
  &.current {
    justify-content: flex-end;
  }

  &.other {
    justify-content: flex-start;
  }
}

.delete-message {
  margin-left: 5px;
}

#message-content {
}

p {
  margin: 0;
  word-break: break-word;
}

#messages {
  height: 430px;
  // start chat at bottom of page
  // height: 100%;
  // display: flex;
  // flex-direction: column-reverse;
  // overflow-y: scroll;
}

.delete-message-margin {
  margin-left: 5px;
}