#resources-container {
  padding: 2%;
  text-align: center;
}

#resources-header {
  font-weight: 600;
  margin-bottom: 2%;
}

.levels-header {
  font-weight: 600;
  margin-bottom: 1%;
}

.levels-div {
  margin: 30px;
}

.resources-subheading {
  margin: 1%;
}