#signed-in-nav-container {
  a {
    color: #313840;
  }
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  position: relative;

  @media screen and (max-width: 500px) {
    padding: 15px 15px 0 15px;
  }

  @media screen and (max-width: 450px) {
    padding: 15px 25px 0 25px;
  }

  @media screen and (max-width: 370px) {
    padding:  10px 12px 0 12px;
  }
}

#kanji-keeper-logo-divs {
  display: flex;
  white-space: nowrap;
  word-break: break-all;

  @media screen and (max-width: 520px) {
    display: initial;
  }
}

#signed-in-nav-logo-link {
  font-size: 1.7em;
  line-height: 1;
  text-align: center;

  @media screen and (max-width: 520px) {
    font-size: 1.3em;
  }

  @media screen and (max-width: 400px) {
    font-size: 1.2em;
  }

  @media screen and (max-width: 340px) {
    font-size: 1em;
  }
}

#signed-in-nav-main-links {
  align-items: center;
  display: flex;
  justify-content: center;
  white-space: nowrap;

  @media screen and (max-width: 400px) {
    font-size: 14px;
  }
}

#new-post-button {
  @media screen and (max-width: 520px) {
    padding: 0.5em;
  }
}

/*
#signed-in-nav-margin-newpost {
  margin-right: 5px;
}
*/

#signed-in-nav-margin-chat {
  margin-right: 10px;
}

#signed-in-nav-margin-notif {
  margin-left: 10px;
  margin-right: 5px;

  @media screen and (max-width: 350px) {
    margin-left: 5px;
    margin-right: 0;
  }
}

.dropdown-item:active {
  background-color: skyblue; // because boostrap base color on click is dark blue
}

.badge {
  background-color: skyblue;
  cursor: pointer;
  position: absolute;
  right: 61px;
  top: 25px;
  z-index: 1;

  @media screen and (max-width: 520px) {
    top: 31px;
  }

  @media screen and (max-width: 500px) {
    right: 56px;
    top: 25px;
  }

  @media screen and (max-width: 450px) {
    right: 64px;
    top: 25px;
  }

  @media screen and (max-width: 400px) {
    right: 66px;
    top: 27px;
  }

  @media screen and (max-width: 370px) {
    right: 53px;
    top: 22px;
  }

  @media screen and (max-width: 360px) {
    right: 53px;
    top: 22px;
  }

  @media screen and (max-width: 340px) {
    top: 18px;
  }

  @media screen and (max-width: 335px) {
    right: 50px;
  }

  @media screen and (max-width: 330px) {
    right: 48px;
  }

  @media screen and (max-width: 325px) {
    right: 47px;
  }

  @media screen and (max-width: 320px) {
    right: 49px;
    top: 18px;
  }
}