#signed-out-nav-container {
  a {
    color: #313840;
  }
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 20px 35px 0 35px;
}

#kanji-keeper-logo-link {
  font-size: 25px;
}

#sign-in-and-up {
  align-items: center; 
  display: flex;
  font-size: 18px;
  justify-content: center;
  white-space: nowrap;

  @media screen and (max-width: 340px) {
    font-size: 16px;
  }
}

#sign-in-margin {
  margin-right: 50px;
}