.user-profile-container {
  display: flex;
  height: auto;
  margin: 0 auto;
  padding: 7% 10%;
  text-align: center;
  width: 75%;
}

.user-profile-image-div {
  background-color: white;
  height: 500px;
  width: 50%;
}

.user-profile-bio-div {
  background-color: white;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 5%;
  width: 100%;
}

.profile-avatar {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  height: 500px;
  justify-content: flex-start;
  max-width: 500px;
}

.profile-username-header {
  font-weight: 600;
}

.profile-bio {

}

.profile-stats {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-size: 1.4em;
  justify-content: space-evenly;
}