.user-profile-container {
  display: flex;
  padding: 10%;
  text-align: center;
  width: 100%;
}

.user-profile-image-div {
  background-color: white;
  height: 300px;
  width: 50%;
}

.user-profile-bio-div {
  background-color: white;
  height: 300px;
  width: 50%;
}