.user-profile-container {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 0 15px rgba(66, 66, 66, 0.09);
  display: flex;
  height: 500px;
  margin: 0 auto;
  margin-top: 7%;
  text-align: center;
  width: 60%;

  @media screen and (max-width: 1260px) {
    box-shadow: none;
    flex-direction: column;
    width: initial;
  }

  @media screen and (max-width: 600px) {
    width: 400px;
  }

  @media screen and (max-width: 500px) {
    width: 300px;
  }
}

.user-profile-image-div {
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  justify-content: center;
  width: 500px;

  @media screen and (max-width: 1260px) {
    height: auto;
    margin: 0 auto;
  }

  @media screen and (max-width: 600px) {
    width: 400px;
  }

  @media screen and (max-width: 500px) {
    width: 300px;
  }
}

.user-profile-bio-div {
  background-color: white;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 100%;

  @media screen and (max-width: 1260px) {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    box-shadow: 0 0 15px rgba(66, 66, 66, 0.09);
    margin: 0 auto;
    margin-bottom: 6%;
    padding: 6%;
    width: 500px;
  }

  @media screen and (max-width: 600px) {
    width: 400px;
  }

  @media screen and (max-width: 500px) {
    width: 300px;
    margin-bottom: 1%;
  }
}

.profile-avatar {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  height: 500px;
  justify-content: flex-start;
  object-fit: cover;
  width: 500px;

  @media screen and (max-width: 1260px) {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 15px rgba(66, 66, 66, 0.09);
    height: auto;
  }

  @media screen and (max-width: 600px) {
    width: 400px;
  }

  @media screen and (max-width: 500px) {
    width: 300px;
  }
}

.empty-avatar {
  width: 100%;
}

.profile-username-header {
  font-weight: 600;
}

.user-bio-content {
  padding: 8%;
}

.profile-stats {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-size: 1.4em;
  justify-content: space-evenly;
}