.edit-user-account {
  margin: 0 auto;
  max-width: 396px;
  padding: 45px 30px 0 30px;
  text-align: center;

  @media screen and (min-width: 2000px) {
    max-width: 500px;
  }
}

.edit-account-header {
  margin: 10px 10px 35px 10px;
}

.edit-account-form {
  margin-bottom: 20px;
}

.cancel-account {
  margin: 30px;
  padding: 10px;
}

.needs-bottom-margin {
  margin-bottom: 30px;
}