<div id="contact">
  <%= link_to contact_path do %>
    <div class="inner-subscription"><i class="far fa-paper-plane"></i></div>
  <% end %>
  <%= link_to 'contact', contact_path, class: 'contact-link' %>
</div>