<div id="signed-out-nav" class="navbar-nav">
  <div class="kanji-nav">
    <%= link_to 'kanji keeper', root_path, class: 'logo-font' %>
    <div class="nav-signedout-space">
      <span class="nav-right-space"><%= link_to "sign in", new_user_session_path  %></span>
      <span><%= link_to "sign up", new_user_registration_path  %></span>
    </div>
  </div>
</div>