<div class="modal fade" id="notif-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-everything">
       <div class="modal-header header-and-x">
        <h5 class="modal-title">notifications</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body notification-container">
        <% @user_notifications.each do |notification| %>
          <div id="notification-and-x">
            <div class="individual-notification"><%= notification.user.username %> has commented on your <%= link_to notification.comment.post.expression, post_path(notification.comment.post_id) %> post!</div>
            <%= link_to notification_path(notification), method: :delete do %>  
              <div id="x-icon-div"><i class="fas fa-times" id="x-icon"></i></div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <div class="theta">
          <div><%= link_to "clear all", destroy_all_notifications_path(), method: :delete, :class => 'btn btn-tetrary black-btn' %></div>
        </div>
      </div>
    </div>
  </div>
</div>