<nav id="signed-out-nav-container">
 <div id="signed-in-nav-logo-link">
    <%= link_to root_path do %>
      <div id="kanji-keeper-logo-divs">
        <div>kanji</div><div><%= image_tag "cherry-blossom.png", class: "cherry-logo", size: '24x20', alt: "" %></div><div>keeper</div>
      </div>
    <% end %>
  </div>
  <div class="landing-sign-in-and-out">
    <div class="landing-nav-sign-in-margin">
      <%= link_to "sign in", new_user_session_path  %>
    </div>
    <div>
      <%= link_to "sign up", new_user_registration_path  %>
    </div>
  </div>
</nav>