<div id="subscription">
    <div class="inner-subscription"><i class="far fa-paper-plane"></i></div>
    <div class="inner-subscription">subscribe for daily kanjis emails!</div>
    <div id="form-and-button"><form><input type="text" name="subscription-form" placeholder="email address"></form><button id="subscription-button">submit</button></div>
</div>